.page-not-found {
    background-image: url('./Images/error4.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    text-align: center;
    font-family: Algerian;
    color: black;
}

.image-container {
    height: 42vh;
    padding-top: 100px;

}

button {
    padding-top: 200px;
    margin-top: 80px;
    color: black;
    padding: 20px 45px;
    border-radius: 5px;
    background-color:whitesmoke;
    border: black;
}
